.super-mario {
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 260px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 260px;
  }
  
  .baloon {
    position: absolute;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 5;
    top: 110px;
    margin-left: 20PX;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 260px;
    margin-left: 270px;
  }