<style>
h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
}
p {
  font-weight: 600;
  font-size: 3em;
}
body {
  font-size: 16px;
}
ul {
  background-color: silver;
  line-height: 35px;
  text-align: center;
  text-decoration: underline;
}
.favorita {
  background-color: burlywood;
}
#amarelo {
  color: yellow;
}
#vermelho {
  color: red;
}
#marrom {
  color: brown;
}
</style>